# Still Testing :)

In [2]:
import os
print(os.getcwd())
print(os.listdir('../scripts'))

c:\Users\dgalassi\commodity_lab\notebooks
['.gitkeep', 'data_loader.py', 'fetch_yf_spot_data.py', 'setup_db.py', 'upload_db.py', '__pycache__']

In [1]:
import sys
sys.path.append('../scripts')
from data_loader import load_data
df = load_data('../data/raw/btc_1d_data_2018_to_2025.csv')

In [3]:
import sys
sys.path.append('../scripts')
from fetch_yf_spot_data import fetch_spot_prices

In [4]:
tickers =   commodities = {
        "Gold": "GC=F",
        "Crude Oil": "CL=F",
    }

In [5]:
data = fetch_spot_prices(tickers, period='6mo',interval='1d')

Fetching  data for Gold (GC=F) - Period: 6mo, Interval: 1d

c:\Users\dgalassi\commodity_lab\notebooks\../scripts\fetch_yf_spot_data.py:34: FutureWarning: YF.download() has changed argument auto_adjust default to True
  data = yf.download(ticker, period=period, interval=interval)
[*********************100%***********************]  1 of 1 completed
c:\Users\dgalassi\commodity_lab\notebooks\../scripts\fetch_yf_spot_data.py:34: FutureWarning: YF.download() has changed argument auto_adjust default to True
  data = yf.download(ticker, period=period, interval=interval)
[*********************100%***********************]  1 of 1 completed

Fetching  data for Crude Oil (CL=F) - Period: 6mo, Interval: 1d

In [6]:
data.columns

Index(['date', 'open', 'high', 'low', 'close', 'volume', 'name', 'ticker',
       'source', 'timeframe'],
      dtype='object')

In [7]:
data.head()

,date,open,high,low,close,volume,name,ticker,source,timeframe
0,2025-01-07,2653.399902,2657.500000,2653.000000,2656.699951,643,Gold,GC=F,yfinance,1d
1,2025-01-08,2655.500000,2676.899902,2653.500000,2664.500000,999,Gold,GC=F,yfinance,1d
2,2025-01-09,2669.699951,2686.300049,2667.899902,2683.800049,1139,Gold,GC=F,yfinance,1d
3,2025-01-10,2686.100098,2720.100098,2683.699951,2708.500000,403,Gold,GC=F,yfinance,1d
4,2025-01-13,2711.100098,2711.199951,2673.500000,2673.500000,765,Gold,GC=F,yfinance,1d

In [8]:
from upload_db import upload_df_to_db

In [9]:
upload_df_to_db(data,"../db/commodities.db")

Uploaded 250 rows to prices table in database at ../db/commodities.db

In [10]:
import sqlite3 as sql 
conn = sql.connect("../db/commodities.db"
                   )

In [12]:
import pandas as pd
df = pd.read_sql_query("SELECT * FROM prices;", conn)

In [13]:
df

,id,ticker,date,open,high,low,close,volume,name,source,timeframe
0,1,GC=F,2025-01-07 00:00:00,2653.399902,2657.500000,2653.000000,2656.699951,643.0,Gold,yfinance,1d
1,2,GC=F,2025-01-08 00:00:00,2655.500000,2676.899902,2653.500000,2664.500000,999.0,Gold,yfinance,1d
2,3,GC=F,2025-01-09 00:00:00,2669.699951,2686.300049,2667.899902,2683.800049,1139.0,Gold,yfinance,1d
3,4,GC=F,2025-01-10 00:00:00,2686.100098,2720.100098,2683.699951,2708.500000,403.0,Gold,yfinance,1d
4,5,GC=F,2025-01-13 00:00:00,2711.100098,2711.199951,2673.500000,2673.500000,765.0,Gold,yfinance,1d
...,...,...,...,...,...,...,...,...,...,...,...
245,246,CL=F,2025-07-01 00:00:00,64.959999,65.980003,64.669998,65.449997,193162.0,Crude Oil,yfinance,1d
246,247,CL=F,2025-07-02 00:00:00,65.559998,67.580002,65.230003,67.449997,265200.0,Crude Oil,yfinance,1d
247,248,CL=F,2025-07-03 00:00:00,67.500000,67.580002,66.529999,67.000000,0.0,Crude Oil,yfinance,1d
248,249,CL=F,2025-07-04 00:00:00,67.129997,67.180000,66.040001,66.500000,0.0,Crude Oil,yfinance,1d
249,250,CL=F,2025-07-07 00:00:00,65.699997,67.290001,65.400002,67.269997,67355.0,Crude Oil,yfinance,1d

In [14]:
conn.close()